.homepage {
    background: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url(./images/photo-1606787366850-de6330128bfc.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

h1,
a {
    font-family: "freight-big-pro";
    color: white;

}

.odin-recipes {
    letter-spacing: -6.5px;
    font-size: 200px;
    text-align: center;
    overflow-wrap: break-world;
}

.recipe-list{
    list-style: none;
    text-align: center;
}

.recipe-list li {
    display: inline;
}

.recipe-list a{
    text-decoration: none;
    padding: 20px;
    font-size: 40px;
    font-weight:100;
}
