*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    background: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)) , url(./images/photo-1606787366850-de6330128bfc.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

/*General*/

.container {
    width: 650px;
    margin: 0 auto;
    padding: 20px;
    color: snow;
    font-family: "freight-big-pro";
    background: linear-gradient(rgba(0, 0, 0, 0.33),rgba(0, 0, 0, 0.33))
}

ul,
ol {
    list-style: none;
}

li {
    margin-top: 5px;
    margin-bottom: 5px;
    color: gainsboro
}

p {
    color: gainsboro;
}

img, 
.description,
.recipe-title{
    margin-bottom: 20px;
}

img {
    width: 100%;
    border-radius: 30px;
}
.description {
    text-align: justify;
}


 .ingredients {
    display: inline-block;
    width: 25%;
    vertical-align: top;
 }

 .steps {
    display: inline-block;
    vertical-align: top;
    width: 75%;
 }


/*Homepage*/

.homepage-container{
    background: linear-gradient(rgba(0, 0, 0, 0.33),rgba(0, 0, 0, 0.33));
}

.recipes-heading {
    text-align: center;
    color: white ;
    margin: 50px 0;
    font-size: 200px;
}

.recipe-list{
    list-style: none;
    text-align: center;
}

.recipe-list li {
    display: inline-block;
    margin-left: 30px;
}

.recipe-list a{
    font-family: "freight-big-pro";
    color: white;
    text-decoration: none;
    font-size: 40px;
    font-weight:100;
}

/*Recipe pages*/

